@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins-bold', sans-serif;
}

/* write your CSS here */

body {
    background-color: #1E1E1E;
}


/**********************************/
/******** Styling Main Nav ********/
/**********************************/

.header {
    width: 100%;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}


.links {
    border: 2px solid orange;
    width: 50%;
}

.links-list {
    display: flex;
    justify-content:space-around;
    justify-items: center;
    list-style-type: none;
}


.page-link {
    color: #FFFFFF;
    text-decoration: none;
}

.hamburger-menu {
    border: 2px solid green;
    width: 15%;
    padding-right: 30px;
}

.hamburger-menu-list {
    
    display: flex;
    justify-content:center;
    justify-items: center;
    list-style-type: none;
}

.inscription {
    border: rgb(26, 196, 185) solid 2px;
    width: 35%;
    /* padding-left: 20px; */
}

.inscription-list {
    display: flex;
    justify-content: center;
    justify-items: center;
    list-style-type: none;
}

.log-sign {
    background-color: #E9DCFF;
    margin: 5px;
    border-radius: 8px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.log-sign-links {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.menu-icon {
    height: 30px;
    width: 30px;
    background-color: #FFFFFF;
    border-radius: 30%;
    margin-left: 60px;
}


nav {
    width: 100%;
}

/********************************/
/******** App Information *******/
/********************************/

.app-information {
    position: absolute;
    border: 2px solid red;
    left: 7%;
    bottom: 28%;
    width: 500px;
    height: 250px;
}

.title-information {
    color: #C0B6D2;
    font-weight: normal;
    font-size: medium;
    letter-spacing: .2rem;
    margin-bottom: 15px;
}

.service-information {
    color: white;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: xxx-large;
}

.download-button {
    margin-top: 25px;
    border: 2px purple solid;
    background-color: #E9DCFF;
    padding: 15px;
    border-radius: 8px;
    font-weight: bold;
    font-size: x-large;
}

/**********************************/
/*********** PHONE VIEW ***********/
/**********************************/

.phone-view {
    position: absolute;
    border: 2px rgb(255, 0, 217) solid;
    right: 10%;
    bottom: 10%;
    width: 450px;
    height: 67%;
}

.mobile {
    width: 258px;
    border: yellow 3px solid;
    height: 100%;
    box-shadow: 10px 5px 5px red;
    background-color: #1C272A;
    border-radius: 20px;
}

.bottom-nav {
    display: flex;
    border: red 2px solid;
    /* bottom: auto; */
    height: 43px;;
    margin-top: 171%;
    width: 100%;
    background-color: #2B2D3D;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}